<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>添加动物</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container">
<br/>
<h1>添加动物</h1>
<br/><br/>
<div class="with:80%">
    <form class="form-horizontal" th:action="@{/animal/addAnimal}" method="post">
        <div class="form-group">
            <label for="animalName" class="col-sm-2 control-label">动物名字</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="animalName" id="animalName" placeholder="animalName"/>
            </div>
        </div>


        <div class="form-group">
            <label for="animalAge" class="col-sm-2 control-label">年龄</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="animalAge" id="animalAge" placeholder="animalAge"/>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="确定" class="btn btn-info"/>
                &nbsp; &nbsp; &nbsp;
                <input type="reset" value="重置" class="btn btn-info"/>
                <a href="/toAdd" th:href="@{/}" class="btn btn-info">返回</a>
            </div>

        </div>
    </form>
</div>
</body>
</html>

